nav{
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 1.4rem;
}

.texto {
    color: red;
    margin-left: 10px;
}
